- content_for :javascript do
  = javascript_include_tag 'sessions'

%h1 AUTH STATUS

Message sent.

#auth-status
  Waiting for verification...

= link_to "Try again", root_path, class: "btn btn-default"
%br
%br
= image_tag "http://photos.shillcock.net/photos/i-wqLQD59/0/L/i-wqLQD59-L.gif"
