= simple_form_for [comment.commentable, comment] do |f|
  = f.error_notification
  = f.input :content, label: false,  placeholder: "comment"
  = f.button :submit, data: { disable_with: "Submitting post..." }