.section.row
  .col-xs-12.col-sm-offset-2.col-sm-8
    = render @post
  .col-xs-12.col-sm-offset-2.col-sm-8
    %br
    .btn-group.btn-group-large.btn-group-justified
      = link_to posts_path, class: "btn btn-primary" do
        %span.glyphicon.glyphicon-chevron-left
        Back
      - if policy(@post).edit?
        = link_to @post, class: "btn btn-success" do
          %span.glyphicon.glyphicon-pencil
          Edit
      - if policy(@post).destroy?
        = link_to @post, method: :delete, class: "btn btn-danger" do
          %span.glyphicon.glyphicon-remove
          Delete

